.wrapper{
    flex-direction: row;
   align-items: center;
   justify-content: space-between;
    display: flex;
}
.todoText{
    color: rgb(14, 219, 14);
    font-weight: bold;
    text-decoration-line: line-through;
}
.inactivetodoText{
    color: black;
}